<%= stylesheet_link_tag 'dashboard', :media => 'screen'%>

<h1>Edit Profile</h1>
<div id="tabsBar">
  <div id="credsTab">
    <a>Credentials</a>
  </div>
  <div id="bioTab">
    <a>Bio</a>
  </div>
  <div id="skillsTab">
    <a>Skills</a>
  </div>
</div>


<%= form_for (@user) do |f|%>
<%=render 'shared/error_messages', :object => f.object%>

<div id="credsContent">
  <div class = "field">
    <%= f.label :username%><br/>
    <%= f.text_field :name, :disabled => true%>
  </div>
  <div class = "field">
    <%= f.label :email%> </br>
    <%= f.text_field :email%>
  </div>
  <div class = "field">
    <%=f.label :password%><br/>
    <%=f.password_field :password%>
  </div>
  <div class = "field">
    <%=f.label :password_confirmation, "confirmation"%><br/>
    <%=f.password_field :password_confirmation%>
  </div>
</div>
  
  
<div id="bioContent">
  <div id="gravatarBox">
  <%= gravatar_for @user, :default =>'identicon'%><br/>
  <a href="http://gravatar.com/emails">Change Profile Picture</a>
  </div>
  <div id="locationBox" class = "field">
    <%= f.label :location_id%>
    <%= f.select :location_id, ["Select a location"] + Location.find(:all, :order => "name").collect{|s| [s.name, s.id]}%>
  </div> 
  <div id="empty"></div> 
  <div id="bioBox" class = "actions">
    <%= f.label :bio%> <br/>
    <%= f.text_area :bio%>
  </div>
</div>
  
  

  
<div id="skillsContent">
  
  
<div id="currentSkills">
<h1><%= @user.name%>'s skills</h1>
<%if @tags.length > 0%>
  <%= form_tag(tag_remove_user_path(@user)) do%>
  <%= select_tag(:tag, options_from_collection_for_select(@user.tags, :id, :name), :multiple => true)%>
  <br/>
  <%= submit_tag "Remove skills"%>
  <%end%>
  <%else%>
  <p>Does not have any tags.</p>
<%end%>
</div>


<div id="addSkills">
<h1>Add new skills</h1>
<% if @user.tags.count < Tag.count then%>
  <%= form_tag(tag_add_user_path(@user)) do%>
  <%= select_tag(:tag, options_from_collection_for_select(@user.not_have_tags, :id, :name), :multiple => true)%>
  <br/>
  <%= submit_tag 'Add'%>
<%end%>
<%else%>
<p> <%=h @user.name%> already has all the skills. </p>
<%end%>
</div>
</div>
  <div class ="actions">
    <%=f.submit "Save Profile"%>
  </div>
<%end%>
<p><%=link_to "Back", user_path%></p>
