<h1>Sign up</h1>
<div id="left">
<%= form_for (@user) do |f|%>
<%=render 'shared/error_messages', :object => f.object%>
  <div class = "field">
    <%= f.label :display_name%><br/>
    <%= f.text_field :name%>
  </div>
  <div class = "field">
    <%= f.label :email%> </br>
    <%= f.text_field :email%>
  </div>
  <div class = "field">
    <%=f.label :password%><br/>
    <%=f.password_field :password%>
  </div>
  <div class = "field">
    <%=f.label :password_confirmation, "Confirmation"%><br/>
    <%=f.password_field :password_confirmation%>
  </div>
  <div class ="actions">
    <%=f.submit "Sign up"%>
  </div>
  <%end%>
</div>

<script>
signUpLoad()
</script>

<%= set_focus_to_id 'user_name' %>
<div id="right">
  <h3>Or, have a Facebook account?</h3>
  <ul>
    <li id="clickMe">
      <a href="/auth/facebook">.</a>
    </li>
  </ul>
</div>