<table class ="profile" summary = "profile information">
  <tr>
     <td class = "main">
      <h1>
        <%= gravatar_for @user, :default =>'identicon'%>
        <%=@user.name%>
      </h1>     
      <%unless @user.microposts.empty?%>
      <table class = "microposts" summary="User microposts">
        <%= render @microposts%>
      </table>
      <%= will_paginate @microposts%>
      <%end%>
      
      
      
      
    </td>
    
    
    
    <td class = "sidebar round">
      <strong>Display name:</strong> <%=@user.name%> <br/>
       <%unless @user.location.blank?%>
      <strong>Location: </strong> <%=@user.location.name%> <br/>
      <%else%>
      <strong>Location:</strong> Unknown
      <%end%>
      <br/>
      <strong>Posts:</strong> <%=@user.microposts.count%> <br/>
      <strong>Job recommendations: </strong> <%=link_to "#{@posts.count}", qualifications_user_path%> <br/>
      
      <%if @user.bio.blank?%>
      <strong>Bio: </strong> <%= @user.bio%> <br/>
      <%else%>
      <strong>Bio: </strong> <%= @user.bio.html_safe%> <br/>
      <%end%>
      <strong>Tags: </strong>
    <div id="tagsDiv">
      <%if @user.tags.count > 0%>
        <% @user.has_tags.each do |tag|%>
         <%=link_to tag.name , tag%>
       <%end%>
      <%else%>
      <%end%>
    </div>

    </td>
  
  
  
  </tr>
</table>




<h1>Leave <%=@user.name%> a comment:</h1>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'fileajob'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    // var disqus_identifier = 'unique_dynamic_id_1234';
    // var disqus_url = 'http://example.com/permalink-to-page.html';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments.</a></noscript>
  </div>
