<h1><%=h @tag.name%></h1>

<h2>Posts</h2>
      <%unless @tag.microposts.empty?%>
      <table class = "microposts" summary="Tag microposts">
        <%= render @microposts%>
      </table>
      <%= will_paginate @microposts, :per_page =>10%>
      <%else%>
      No posts with tag.
      <%end%>
      <h2>Users</h2>
      <%unless @users.empty?%>

  <%= render @users%>
<%=will_paginate @users, :per_page => 10%>

      <%else%>
      No users with tag.
      <%end%>