<%= stylesheet_link_tag 'postuserbytag', :media => 'screen'%>

<div id="tagName">
<h2>Tagged with <%=h @tag.name%></h2>
</div>


<div id="tabsBar">
  <div id="postTab">
    <a>Posts</a>
  </div>
  <div id="userTab">
    <a>Users</a>
  </div>
</div>

<div id="postsByTag">
      <%unless @tag.microposts.empty?%>
      <table class = "microposts" summary="Tag microposts">
        <%= render @microposts%>
      </table>
      <%= will_paginate @microposts, :per_page =>10%>
      <%else%>
      No posts with tag.
      <%end%>
</div>

<div id="usersByTag">      
      <%unless @users.empty?%>
  <%= render @users%>
<%=will_paginate @users, :per_page => 10%>

      <%else%>
      No users with tag.
      <%end%>
</div>