<tr>
  
    <td class = "gravatar">
    <%= gravatar_for micropost.user, :default =>'identicon', :size => 50%>
  </td>
  <td class = "micropost">
    
    
    <span class ="title"><%= link_to micropost.title, micropost%></span><br/>

    <span class ="content"><%= micropost.content.html_safe%></span>
    <div id="tagsDiv">
    
      <%if micropost.tags.count > 0%>
        <% micropost.tags.each do |tag|%>
         <%=link_to tag.name , tag%>
       <%end%>
      <%else%>
      <%end%>
    </div>
    <span class ="timestamp">
      <%= time_ago_in_words(micropost.created_at)%> ago <%= link_to micropost.user.name, micropost.user%>
    </span>

  </td>
  <% if current_user?(micropost.user)%>
  <td>
    <%= link_to "delete", micropost, :method => :delete, :confirm => "you sure?", :title => micropost.content%>
  </td>
  <%end%>
  
</tr>