<%=link_to "<- Back", micropost_path%>
  <table class = "front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class = "micropost">Users qualified for <%=@micropost.title %></h1>
        <%unless @users.count == 0%>
        <%=will_paginate @users%>
  <%= render @users%>
<%=will_paginate @users%>
<%else%>
Sorry, no users currently have the skills needed for the job.
 <%end%> 
      </td>
     
      
    </tr>
    
    
    
    
    
    
  </table>