<div id="wrapper" class ="micropost_profile" summary = "micropost information">
  <div id="titleHolder">
    <h1>
      <%=@micropost.title%>
    </h1>
    <div id="colorBar"></div>
    <table>
      <tr>
         <th>
        <div id="locationName">
          Location: <%=@micropost.location.name%> 
        </div>         
        </th>
        <th>

          <div id ="locationName">
            Category: <%=@micropost.category.name%>
           </div>           
        </th>

      </tr>
      
      
    </table>
         
  </div>
  
  <div id="description">
    <%=@micropost.content.html_safe%>
  </div>
  <div id="tags">
    
  </div>
  <div id="compensation">
    $<%=@micropost.compensation%> per hour
  </div>
  <div id="information">
    <div id="views">
      233<br/>
      views
    </div>
    <div id="responses">
      2<br/>
      responses
    </div>
  </div>
  <div id="tagsDiv">
    <strong>Tags:</strong>
    <%if @micropost.tags.count > 0%>
      <% @micropost.tags.each do |tag|%>
      <%=link_to tag.name , tag%>
    <%end%>
    <%else%>
      none.
    <%end%>
  </div>
  <table>
  <td>
    
    <% if current_user?(@micropost.user)%>
    <%= link_to "edit", edit_micropost_path%> | 
    <%= link_to "delete", @micropost, :method => :delete, :confirm => "you sure?", :title => @micropost.content%>
  
  <%end%>      
  </td>    
  <td>
    <td>
  <%= gravatar_for @micropost.user, :size =>30, :default=>'identicon'%>
</td>
<td>
<tr>
  <%= link_to @micropost.user.name, @micropost.user%>
  
</tr>
<tr>
  <%= time_ago_in_words(@micropost.created_at)%> ago
    </tr>  
</td>

  </td>
  </table>


  
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'fileajob'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    // var disqus_identifier = 'unique_dynamic_id_1234';
    // var disqus_url = 'http://example.com/permalink-to-page.html';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments.</a></noscript>
  </div>