<%= stylesheet_link_tag 'newPostTags', :media => 'screen'%>

<div id="currentSkills">
<h2><%= @micropost.title%>'s tags</h2>

<%if @tags.length > 0%>
  <%= form_tag(tag_remove_micropost_path(@micropost)) do%>
    <%= select_tag(:tag, options_from_collection_for_select(@micropost.has_tags, :id, :name), :multiple => true)%>
    
  <%= submit_tag "Remove tags"%>
  <%end%>
  <%else%>
  <p>Oops, this post has no tags, add some now.</p>
<%end%>
</div>


<div id="newSkills">
<h2>Add new skills</h2>
<% if @micropost.tags.count < Tag.count then%>
  <%= form_tag(tag_add_micropost_path(@micropost)) do%>

  <%= select_tag(:tag, options_from_collection_for_select(@micropost.not_have_tags, :id, :name), :multiple => true)%>
  <%= submit_tag 'Add tags'%>
<%end%>
<%else%>
<p> <%=h @micropost.title%> already has all the tags. </p>
<%end%>
</div>


<div id="links">
<p><%=link_to "Back", edit_micropost_path%> | <%=link_to "Done", qualified_micropost_path%></p>
</div>