<h1><%= @micropost.title%>'s skills</h1>

<%if @tags.length > 0%>
  <%= form_tag(tag_remove_micropost_path(@micropost)) do%>
    <%= select_tag(:tag, options_from_collection_for_select(@micropost.has_tags, :id, :name), :multiple => true)%>
    
  <%= submit_tag "Remove checked skills"%>
  <%end%>
  <%else%>
  <p>Does not have any tags.</p>
<%end%>

<h2>Add new skills</h2>
<% if @micropost.tags.count < Tag.count then%>
  <%= form_tag(tag_add_micropost_path(@micropost)) do%>

  <%= select_tag(:tag, options_from_collection_for_select(@micropost.not_have_tags, :id, :name), :multiple => true)%>
  <%= submit_tag 'Add'%>
<%end%>
<%else%>
<p> <%=h @micropost.name%> already has all the tags. </p>
<%end%>
<p><%=link_to "Back", edit_micropost_path%> | <%=link_to "Done", qualified_micropost_path%></p>
