<%= stylesheet_link_tag 'indexCustom', :media => 'screen'%>

<h1>All categories</h1>


<% if signed_in?%>
<% if current_user.admin?%>
  <%= link_to "Create new category", newcategory_path%>
<%end%>
<%end%>


<%=will_paginate @categories%>
<div id="holder">
<div id="numberExplain"># of posts</div>
</div>
<ul class ="categories">
  <table class = "microposts" summary="Tag microposts">
    <tbody>
  <%= render @categories%>
  </tbody>
  </table>
</ul>
<%=will_paginate @categories%>
