<h1>New category</h1>
<%= form_for (@category) do |f|%>
<%=render 'shared/error_messages', :object => f.object%>
  <div class = "field">
    <%= f.label :name%><br/>
    <%= f.text_field :name%>
  </div>
  <div class ="actions">
    <%=f.submit "Add"%>
  </div>
  <%end%>

<%= set_focus_to_id 'category_name' %>
