<%= stylesheet_link_tag 'indexCustom', :media => 'screen'%>

<h1>All locations</h1>


<% if signed_in?%>
<% if current_user.admin?%>
  <%= link_to "Create new location", newlocation_path%>
<%end%>
<%end%>


<%=will_paginate @locations%>
<div id="holder">
<div id="numberExplain"># of posts</div>
</div>
<ul class ="locations">
  <table class = "microposts" summary="Tag microposts">
    <tbody>
      <%= render @locations%>
    </tbody>
  </table>
</ul>

<%=will_paginate @locations%>

