<div id="headerBG">
    <header>
      <div id="headerInner">
      <div id="logoDiv">
        <%=link_to image_tag("logo.png", :alt =>"logo"), root_path %>
        

      </div>
      <% if signed_in?%>
        <div id="welcome">
          Good luck filing a job <%=link_to current_user.name, current_user%>!
          <h5>Not <%= current_user.name%>? Then <%=link_to "Sign out", signout_path, :method => :delete%></h5>
        </div>
        <%end%>
        <div id="facebookStuff">
          <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
        <fb:like href="http://www.facebook.com/pages/FileAJob/121199847951972" layout="button_count" show_faces="false" width="450"></fb:like>
        </div>
      <div id="accountNav">
        <ul>
          <% if signed_in?%>
            <li><%=link_to "Profile", current_user%></li>
            <li><%=link_to "Settings", edit_user_path(current_user)%>  </li>
            <%end%>

          <li><%=link_to "Browse", browse_path%></li>
          <% if signed_in?%>
            <li><%=link_to "Create a Post", microposts_new_path%></li>
            <%else%>
          <li><%= link_to "Login", signin_path%></li> 
          <li><%= link_to "Sign up", signup_path%></li>
            <%end%>
        </ul>
      </div>
      </div>
      </div>

    </header>